$primary-color: #ffa726;
$secondary-color: #33691e;

$primary-dark: #c77800;
$primary-light: #ffd95b;
$secondary-dark: #003d00;
$secondary-light: #629749;

$text-color: #fff;
$title-color: #fff;

$text-font: "Montserrat";
$title-font: "Montserrat";

$background-color: $secondary-dark;

$theme-colors: (
  "text": $text-color,
  "danger": #dc3545,
  "primary": $primary-color,
  "secondary": $secondary-color,
);

// Sinónimos
$color1: $primary-color;
$color2: $secondary-color;
$color1-d: $primary-dark;
$color1-l: $primary-light;
$color2-d: $secondary-dark;
$color2-l: $secondary-light;
