//
@import "./fonts";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  height: 100vh;
  color: $text-color;
  font-weight: 500;
  font-family: $text-font;
  background-color: $background-color;
}
