<template>
  <modal :show="show" @update:show="$emit('update:show', $event)">
    <template v-slot:header> Editar Juego </template>
    <div class="formulario">
      <div class="form-group" v-if="hasp1">
        <label for="jugador1">Jugador 1</label>
        <input
          max="240"
          type="text"
          v-model="p1"
          id="jugador1"
          :class="{ 'form-control': true, 'is-invalid': form_errors.p1 }"
        />
        <div class="invalid-feedback">
          {{ form_errors.p1 }}
        </div>
      </div>
      <div class="form-group" v-if="hasp2">
        <label for="jugador2">Jugador 2</label>
        <input
          max="240"
          type="text"
          v-model="p2"
          id="jugador2"
          :class="{ 'form-control': true, 'is-invalid': form_errors.p2 }"
        />
        <div class="invalid-feedback">
          {{ form_errors.p2 }}
        </div>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input
          id="fecha"
          type="date"
          class="form-control"
          v-model="form.fecha"
        />
      </div>
      <div class="form-group">
        <label for="ganador">Ganador</label>
        <div class="form-check" id="ganador">
          <input
            value=""
            id="check1"
            type="radio"
            v-model="form.ganador"
            class="form-check-input"
          />
          <label class="form-check-label" for="check1"> Ninguno </label>
        </div>
        <div class="form-check">
          <input
            value="1"
            id="check2"
            type="radio"
            v-model="form.ganador"
            class="form-check-input"
          />
          <label class="form-check-label" for="check2">
            <span :class="{ italic: !jugador1 }">
              {{ jugador1 ? jugador1 : "Por disputar" }}
            </span>
          </label>
        </div>
        <div class="form-check">
          <input
            value="2"
            id="check3"
            type="radio"
            v-model="form.ganador"
            class="form-check-input"
          />
          <label class="form-check-label" for="check3">
            <span :class="{ italic: !jugador2 }">
              {{ jugador2 ? jugador2 : "Por disputar" }}
            </span>
          </label>
        </div>
        <div class="form-group" v-if="form && form.ganador">
          <label for="fecha">Resultado</label>
          <input id="fecha" class="form-control" v-model="form.resultado" />
        </div>
      </div>
      <div class="acciones">
        <div class="btn-group">
          <button class="btn btn-primary" @click="$emit('update:show', false)">
            Cancelar
          </button>
          <button
            :disabled="sending"
            @click="submit_edit"
            class="btn btn-secondary send-button"
          >
            <div class="spinner-border" role="status" v-if="sending">
              <span class="visually-hidden">Loading...</span>
            </div>
            Editar
          </button>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    juego: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  watch: {
    juego() {
      this.set();
    },
  },
  computed: {
    jugador1() {
      if ("nombre" in this.participante1) {
        return this.participante1.nombre;
      }
      return this.juego?.jugador1.ganador_nombre;
    },
    jugador2() {
      if ("nombre" in this.participante2) {
        return this.participante2.nombre;
      }
      return this.juego?.jugador2.ganador_nombre;
    },
    participante1() {
      let j = this.juego?.jugador1;
      return j ? j : {};
    },
    participante2() {
      let j = this.juego?.jugador2;
      return j ? j : {};
    },
  },
  data() {
    return {
      p1: "",
      p2: "",
      hasp1: false,
      hasp2: false,
      sending: false,
      form: {
        fecha: "",
        ganador: "",
        resultado: "",
      },
      semaforo: 0,
      form_errors: {
        p1: null,
        p2: null,
      },
    };
  },
  mounted() {
    this.set();
  },
  methods: {
    ...mapActions("torneo", ["edit_juego", "edit_participante"]),
    set() {
      if (!this.juego) return;
      for (let i in this.form) {
        this.form[i] = this.juego[i];
      }
      for (let i in this.form_errors) {
        this.form_errors[i] = null;
      }
      this.hasp1 = "nombre" in this.participante1;
      this.hasp2 = "nombre" in this.participante2;
      this.p1 = this.hasp1 ? this.participante1.nombre : "";
      this.p2 = this.hasp2 ? this.participante2.nombre : "";
    },
    check() {
      let err_required = "Se necesita un nombre para el participante.";
      this.form_errors.p1 = this.hasp1 && !this.p1 ? err_required : null;
      this.form_errors.p2 = this.hasp1 && !this.p2 ? err_required : null;
      return this.form_errors.p1 == null && this.form_errors.p2 == null;
    },
    submit_edit() {
      if (this.sending) return;
      if (!this.check()) return;
      this.sending = true;
      this.semaforo = 1;
      let final = () => {
        this.semaforo--;
        if (this.semaforo == 0) {
          this.sending = false;
          this.$emit("refresh");
        }
      };
      if (this.hasp1) {
        this.semaforo++;
        this.edit_participante({
          id: this.participante1.id,
          data: {
            nombre: this.p1,
          },
        }).finally(final);
      }
      if (this.hasp2) {
        this.semaforo++;
        this.edit_participante({
          id: this.participante2.id,
          data: {
            nombre: this.p2,
          },
        }).finally(final);
      }
      this.edit_juego({
        id: this.juego.id,
        data: {
          ...this.form,
          ...(this.form.ganador ? {} : { resultado: null }),
        },
      }).finally(final);
    },
  },
};
</script>

<style lang="scss" scoped>
.formulario {
  .form-group {
    margin-bottom: 1em;
  }
  .acciones {
    text-align: right;
    .btn {
      font-weight: bold;
    }
  }
}
.italic {
  font-style: italic;
}
.form-check-input + label {
  font-weight: 400;
}
.send-button {
  .spinner-border {
    width: 1em;
    height: 1em;
    border-width: 0.15em;
  }
}
</style>