<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 title">
        Brackets
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 btn-add">
        <button
          class="btn btn-outline-text"
          @click="$router.push({ name: 'torneo.create' })"
        >
          <i class="fas fa-plus-circle"></i> Agregar
        </button>
      </div>
    </div>
    <loading v-if="loading" />
    <div class="row row-torneo" v-for="torneo in all" :key="torneo.id" v-else>
      <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        <div class="torneo">
          <div class="datos">
            <div class="nombre">
              {{ torneo.nombre }}
            </div>
            <div class="fecha">
              Fecha: {{ formatDates(torneo.inicio, torneo.fin) }}
            </div>
            <div
              class="ganador"
              v-if="torneo.final && torneo.final.ganador_nombre"
            >
              Campeón: {{ torneo.final.ganador_nombre }}
            </div>
          </div>
          <div class="btn-group acciones" role="group">
            <button
              class="btn btn-primary"
              @click="
                $router.push({
                  name: 'torneo.item',
                  params: { id: torneo.id },
                })
              "
            >
              <i class="far fa-eye"></i>
            </button>
            <button class="btn btn-secondary" @click="openEdit(torneo)">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-danger" @click="openDelete(torneo)">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-torneo" v-if="!loading && all.length == 0">
      <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 empty">
        No hay torneos registrados.
      </div>
    </div>
    <modal :show.sync="show_form">
      <template v-slot:header> Editar Torneo </template>
      <div class="formulario">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            max="240"
            id="nombre"
            type="text"
            v-model="form.nombre"
            :class="{ 'form-control': true, 'is-invalid': form_errors.nombre }"
          />
          <div class="invalid-feedback">
            {{ form_errors.nombre }}
          </div>
        </div>
        <div class="form-group">
          <label for="inicio">Inicio</label>
          <input
            id="inicio"
            type="date"
            v-model="form.inicio"
            :class="{ 'form-control': true, 'is-invalid': form_errors.inicio }"
          />
          <div class="invalid-feedback">
            {{ form_errors.inicio }}
          </div>
        </div>
        <div class="form-group">
          <label for="fin">Finalización</label>
          <input
            id="fin"
            type="date"
            v-model="form.fin"
            :class="{ 'form-control': true, 'is-invalid': form_errors.fin }"
          />
          <div class="invalid-feedback">
            {{ form_errors.fin }}
          </div>
        </div>
        <div class="acciones">
          <div class="btn-group">
            <button class="btn btn-primary" @click="show_form = false">
              Cancelar
            </button>
            <button
              @click="submit_edit"
              :disabled="loading_form"
              class="btn btn-secondary send-button"
            >
              <div class="spinner-border" role="status" v-if="loading_form">
                <span class="visually-hidden">Loading...</span>
              </div>
              Editar
            </button>
          </div>
        </div>
      </div>
    </modal>
    <modal :show.sync="show_delete">
      <template v-slot:header> Eliminar Torneo </template>
      <div class="formulario">
        <div class="form-group">
          ¿Desea eliminar el torneo "{{ to_delete.nombre }}"?
        </div>
        <div class="invalid-feedback">
          {{ delete_error }}
        </div>
        <div class="acciones">
          <div class="btn-group">
            <button class="btn btn-primary" @click="show_delete = false">
              Cancelar
            </button>
            <button
              @click="submit_delete"
              :disabled="loading_form"
              class="btn btn-danger send-button"
            >
              <div class="spinner-border" role="status" v-if="loading_form">
                <span class="visually-hidden">Loading...</span>
              </div>
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import loading from "../components/loading.vue";
export default {
  components: { loading },
  computed: {
    ...mapState("torneo", ["all"]),
  },
  data() {
    return {
      form: {
        id: null,
        fin: null,
        nombre: null,
        inicio: null,
      },
      form_errors: {
        fin: null,
        nombre: null,
        inicio: null,
      },
      to_delete: {
        id: null,
        nombre: null,
      },
      loading: true,
      show_form: false,
      show_delete: false,
      delete_error: "",
      loading_form: false,
    };
  },
  mounted() {
    this.list().finally(() => {
      this.loading = false;
    });
  },
  methods: {
    ...mapActions("torneo", ["list", "edit", "delete"]),
    formatDates(since, until) {
      let setDate = (date) => {
        date = new Date(date + " 00:00:00");
        let to2dig = (a) => (a > 9 ? a : "0" + a);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;
        let yyyy = date.getFullYear();
        return `${to2dig(dd)}/${to2dig(mm)}/${yyyy}`;
      };
      since = setDate(since);
      until = setDate(until);
      if (since != until) {
        return `${since} al ${until}`;
      }
      return since;
    },
    openEdit(torneo) {
      for (let key in this.form) {
        this.form[key] = torneo[key];
        this.form_errors[key] = null;
      }
      this.show_form = true;
    },
    openDelete(torneo) {
      for (let key in this.to_delete) {
        this.to_delete[key] = torneo[key];
      }
      this.show_delete = true;
    },
    submit_edit() {
      if (this.loading_form) return;
      this.loading_form = true;
      this.edit({
        id: this.form.id,
        data: this.form,
      })
        .then(() => {
          this.show_form = false;
        })
        .catch((err) => {
          let status = err.response?.status;
          if (status == 422) {
            let errors = err.response.data?.errors;
            errors = errors ? errors : {};
            for (let key in this.form_errors) {
              this.form_errors[key] = key in errors ? errors[key][0] : null;
            }
          }
        })
        .finally(() => {
          this.loading_form = false;
        });
    },
    submit_delete() {
      if (this.loading_form) return;
      this.delete_error = "";
      this.loading_form = true;
      this.delete({ id: this.to_delete.id })
        .then(() => {
          this.show_delete = false;
          this.loading = true;
          this.list().finally(() => {
            this.loading = false;
          });
        })
        .catch(() => {
          this.delete_error = "No se pudo borrar el torneo.";
        })
        .finally(() => {
          this.loading_form = false;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.title {
  color: $title-color;
  font-size: 32px;
  font-weight: bold;
}
.row-torneo {
  margin-top: 1em;
  .torneo {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.75em;
    border: 1px solid $text-color;
    justify-content: space-between;
    .datos {
      margin: 0.375em 1em;
    }
    .acciones {
      margin: auto;
      margin-right: 0;
      padding: 0.375em 1em;
    }
    .nombre {
      font-size: 18px;
    }
    .fecha,
    .ganador {
      font-size: 12px;
    }
  }
  .empty {
    padding: 1em;
    text-align: center;
  }
}
.formulario {
  .form-group {
    margin-bottom: 1em;
  }
  .invalid-feedback {
    display: inline;
  }
  .acciones {
    padding: 1em 0;
    text-align: right;
    .btn {
      font-weight: bold;
    }
  }
}
.send-button {
  .spinner-border {
    width: 1em;
    height: 1em;
    border-width: 0.15em;
  }
}
.btn-add {
  text-align: right;
}
</style>
