<template>
  <div class="juego" v-if="juego">
    <div class="jugadores">
      <div
        v-if="'nombre' in jugador1"
        :class="{ 'jugador-1': true, 'is-winner': juego.ganador == 1 }"
      >
        <div class="texto">{{ jugador1.nombre }}</div>
      </div>
      <bracket
        v-else
        :isj1="true"
        :juego="jugador1"
        @edit="$emit('edit', $event)"
        :wins_next="juego.ganador == 1"
      />
      <div
        v-if="'nombre' in jugador2"
        :class="{ 'jugador-2': true, 'is-winner': juego.ganador == 2 }"
      >
        <div class="texto">{{ jugador2.nombre }}</div>
      </div>
      <bracket
        v-else
        :isj2="true"
        :juego="jugador2"
        @edit="$emit('edit', $event)"
        :wins_next="juego.ganador == 2"
      />
    </div>
    <div class="resultado">
      <div :class="{ winner: true, 'space-border': isj2 }">
        <div :class="{ texto: true, 'wins-next': wins_next }">
          <div class="resultado">{{ juego.resultado }}</div>
          <div class="fecha">{{ formatFecha(juego.fecha) }}</div>
          {{ juego.ganador_nombre }}
        </div>
      </div>
      <div :class="{ space: true, 'space-border': isj1 }">
        <div class="options" @click="$emit('edit', juego)">
          <i class="far fa-edit"></i>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isj1: {
      type: Boolean,
      default: false,
    },
    isj2: {
      type: Boolean,
      default: false,
    },
    wins_next: {
      type: Boolean,
      default: true,
    },
    juego: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  computed: {
    jugador1() {
      let jugador = this.juego ? this.juego.jugador1 : {};
      return {
        ...jugador,
      };
    },
    jugador2() {
      let jugador = this.juego ? this.juego.jugador2 : {};
      return {
        ...jugador,
      };
    },
  },
  methods: {
    inform(value) {
      setTimeout(() => {
        this.$emit("inform", value);
      }, 200);
    },
    formatFecha(date) {
      if (!date) return "";
      date = new Date(date + " 00:00:00");
      let to2dig = (a) => (a > 9 ? a : "0" + a);
      let dd = date.getDate();
      let mm = date.getMonth() + 1;
      let yyyy = date.getFullYear();
      return `${to2dig(dd)}/${to2dig(mm)}/${yyyy}`;
    },
  },
};
</script>
<style lang="scss" scoped>
$border-width: 2px;
$border: $border-width solid $color1;
.juego {
  display: flex;
  justify-content: flex-end;
}
.texto {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jugadores {
  .jugador-1,
  .jugador-2 {
    padding: 1em;
    display: flex;
    align-items: flex-end;
    border-bottom: $border;
    &.is-winner {
      color: $primary-color;
      font-weight: bold;
    }
    margin-left: auto;
    width: max-content;
  }
  .jugador-2 {
    padding-top: 4em;
    margin-bottom: 3em;
    border-right: $border;
  }
}
.resultado {
  display: flex;
  align-items: center;
  flex-direction: column;
  .winner {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }
  .fecha,
  .resultado {
    color: $text-color;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }
  .texto {
    padding: 0.75em 1em;
    border-bottom: $border;
    &.wins-next {
      color: $primary-color;
      font-weight: bold;
    }
  }
  .space {
    flex: 1;
    width: 100%;
    $radius: 14px;
    position: relative;
    .options {
      display: flex;
      position: absolute;
      top: -$radius;
      left: -$radius;
      width: 2 * $radius;
      height: 2 * $radius;
      font-size: $radius;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      padding-bottom: 2px;
      transition: all 0.25s ease-out;
      cursor: pointer;
      &:hover {
        top: -$radius * 1.5;
        left: -$radius * 1.5;
        width: 2 * $radius * 1.5;
        height: 2 * $radius * 1.5;
        font-size: $radius * 1.5;
        background-color: $primary-dark;
      }
    }
  }
  .space-border {
    border-right: $border;
  }
}
</style>
