<template>
  <div class="juego" v-if="juego">
    <div class="jugadores">
      <div v-if="is_player(1)" class="jugador-1">
        <input class="participante" v-model="participantes[juego[0]].nombre" />
        <button class="btn btn-outline-text open" @click="dividir(1)">
          <i class="fas fa-share-alt"></i>
        </button>
      </div>
      <creating-bracket
        v-else
        :isj1="true"
        :juego="juego[0]"
        :participantes="participantes"
        @dividir="$emit('dividir', $event)"
      />
      <div v-if="is_player(2)" class="jugador-2">
        <input class="participante" v-model="participantes[juego[1]].nombre" />
        <button class="btn btn-outline-text open" @click="dividir(2)">
          <i class="fas fa-share-alt"></i>
        </button>
      </div>
      <creating-bracket
        v-else
        :isj2="true"
        :juego="juego[1]"
        :participantes="participantes"
        @dividir="$emit('dividir', $event)"
      />
    </div>
    <div class="resultado">
      <div :class="{ winner: true, 'space-border': isj2 }">
        <div class="texto"></div>
      </div>
      <div :class="{ space: true, 'space-border': isj1 }"></div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isj1: {
      type: Boolean,
      default: false,
    },
    isj2: {
      type: Boolean,
      default: false,
    },
    juego: {
      type: Array,
      default() {
        return [];
      },
    },
    participantes: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    dividir(index) {
      index--;
      this.$emit("dividir", (value) => {
        let old = this.juego[index];
        this.juego[index] = value;

        this.participantes[old] = this.participantes.pop();
        let replace = this.participantes.length;
        this.replace(this.juego, replace, old);
      });
    },
    replace(juego, rep, old) {
      for (let i = 0; i < 2; i++) {
        if (Array.isArray(juego[i])) {
          this.replace(juego[i], rep, old);
        } else if (juego[i] == rep) {
          juego[i] = old;
          return;
        }
      }
    },
    is_player(index) {
      return !Array.isArray(this.juego[index - 1]);
    },
  },
};
</script>
<style lang="scss" scoped>
$border-width: 2px;
$border: $border-width solid $color1;
.juego {
  display: flex;
  justify-content: flex-end;
}
.participante {
  color: $text-color;
  width: 150px;
  outline: unset;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: unset;
  background: none;
  border-bottom: 1px solid;
}
.open,
.participante {
  font-size: 12px;
  font-weight: bold;
}
.open {
  margin: 0 0.375em;
}
.jugadores {
  .jugador-1,
  .jugador-2 {
    display: flex;
    padding: 1em 0;
    margin-left: auto;
    width: max-content;
    align-items: flex-end;
    border-bottom: $border;
    &.is-winner {
      color: $primary-color;
      font-weight: bold;
    }
  }
  .jugador-2 {
    padding-top: 4em;
    margin-bottom: 3em;
    border-right: $border;
  }
}
.resultado {
  display: flex;
  align-items: center;
  flex-direction: column;
  .winner {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }
  .texto {
    padding: 0.75em 1em;
    border-bottom: $border;
    &.wins-next {
      color: $primary-color;
      font-weight: bold;
    }
  }
  .space {
    flex: 1;
    width: 100%;
    $radius: 14px;
    position: relative;
    .options {
      display: flex;
      position: absolute;
      top: -$radius;
      left: -$radius;
      width: 2 * $radius;
      height: 2 * $radius;
      font-size: $radius;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      padding-bottom: 2px;
      transition: all 0.25s ease-out;
      cursor: pointer;
      &:hover {
        top: -$radius * 1.5;
        left: -$radius * 1.5;
        width: 2 * $radius * 1.5;
        height: 2 * $radius * 1.5;
        font-size: $radius * 1.5;
        background-color: $primary-dark;
      }
    }
  }
  .space-border {
    border-right: $border;
  }
}
.fa-share-alt {
  transform: rotate(180deg);
}
</style>
