<template>
  <div class="loading-page">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>
<script>
export default {
  //
};
</script>
<style lang="scss" scoped>
.loading-page {
  display: flex;
  min-width: 100%;
  min-height: 20em;
  align-items: center;
  justify-content: center;
}
.spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.5em;
}
</style>