<template>
  <div
    ref="modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby=""
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <slot name="header"></slot>
          <button
            type="button"
            class="btn-close"
            @click="$emit('update:show', false)"
          ></button>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
        <div class="modal-footer" v-if="$slots.footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Modal from "bootstrap/js/src/modal";
export default {
  props: {
    show: { default: null },
  },
  watch: {
    show() {
      if (this.show === true) {
        this.modal.show();
      }
      if (this.show === false) {
        this.modal.hide();
      }
    },
  },
  beforeDestroy() {
    this.modal.hide();
  },
  data() {
    return {
      modal: null,
    };
  },
  mounted() {
    this.modal = new Modal(this.$refs.modal);
    this.$refs.modal.addEventListener("shown.bs.modal", () => {
      this.$emit("shown");
      this.$emit("update:show", true);
    });
    this.$refs.modal.addEventListener("hidden.bs.modal", () => {
      this.$emit("hidden");
      this.$emit("update:show", false);
    });
    if (this.show) {
      this.modal.show();
    }
  },
};
</script>
<style lang="scss" scoped>
.modal {
  color: #000;
  .modal-header,
  .modal-footer {
    border: unset;
  }
  .modal-header {
    font-size: 24px;
    .btn-close {
      margin-top: 0;
      font-size: 18px;
    }
  }
}
</style>