<template>
  <div class="create-torneo">
    <div class="container">
      <div class="row header">
        <div class="col-2 back offset-md-1 offset-lg-2">
          <div class="arrow" @click="$router.push({ name: 'landing' })">
            <i class="fas fa-arrow-left"></i>
          </div>
        </div>
        <div class="col-10 col-md-8 col-lg-6 create-title">
          Registrar Torneo
        </div>
      </div>
      <div class="row form">
        <div
          class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 formulario"
        >
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              max="240"
              id="nombre"
              type="text"
              v-model="form.nombre"
              :class="{
                'form-control': true,
                'is-invalid': form_errors.nombre,
              }"
            />
            <div class="invalid-feedback">
              {{ form_errors.nombre }}
            </div>
          </div>
          <div class="form-group">
            <label for="inicio">Inicio</label>
            <input
              id="inicio"
              type="date"
              v-model="form.inicio"
              :class="{
                'form-control': true,
                'is-invalid': form_errors.inicio,
              }"
            />
            <div class="invalid-feedback">
              {{ form_errors.inicio }}
            </div>
          </div>
          <div class="form-group">
            <label for="fin">Finalización</label>
            <input
              id="fin"
              type="date"
              v-model="form.fin"
              :class="{ 'form-control': true, 'is-invalid': form_errors.fin }"
            />
            <div class="invalid-feedback">
              {{ form_errors.fin }}
            </div>
          </div>
          <div class="form-group">
            <label>Fixture</label>
            <div class="table-responsive">
              <div class="new-fixture" v-if="form.fixture.length < 2">
                <button
                  @click="dividir(null)"
                  class="btn btn-outline-text crear"
                >
                  Empezar Fixture
                  <i class="fas fa-share-alt"></i>
                </button>
              </div>
              <creating-bracket
                v-else
                class="text-start"
                @dividir="dividir"
                :juego="form.fixture"
                :participantes="form.participantes"
              />
            </div>
            <div class="invalid-feedback">
              {{ form_errors.cantidad_participantes }}
            </div>
            <div class="invalid-feedback">
              {{ form_errors.participantes }}
            </div>
          </div>
          <div class="acciones">
            <div class="btn-group">
              <button
                class="btn btn-primary"
                @click="$router.push({ name: 'landing' })"
              >
                Cancelar
              </button>
              <button
                @click="submit"
                :disabled="loading_form"
                class="btn btn-secondary send-button"
              >
                <div class="spinner-border" role="status" v-if="loading_form">
                  <span class="visually-hidden">Loading...</span>
                </div>
                Enviar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal :show.sync="show_pick">
      <template v-slot:header> Agregar rondas </template>
      <div class="form-group">
        <label>Rondas</label>
        <select class="form-select" v-model="rounds">
          <option v-for="i in 5" :key="'opt' + i" :value="i">
            {{ option_label(i) }}
          </option>
        </select>
      </div>
      <div class="acciones">
        <div class="btn-group">
          <button class="btn btn-primary" @click="show_pick = false">
            Cancelar
          </button>
          <button @click="division" class="btn btn-secondary send-button">
            Agregar
          </button>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  computed: {
    cantidad_participantes() {
      return this.form.participantes.length;
    },
  },
  data() {
    return {
      form: {
        fin: null,
        nombre: null,
        inicio: null,
        fixture: [],
        participantes: [],
      },
      form_errors: {
        fin: null,
        nombre: null,
        inicio: null,
        participantes: null,
        cantidad_participantes: null,
      },
      rounds: null,
      callback: null,
      show_pick: false,
      loading_form: false,
    };
  },
  methods: {
    ...mapActions("torneo", { submitTorneo: "create" }),
    dividir(event) {
      this.rounds = 1;
      this.callback = event;
      this.show_pick = true;
    },
    division() {
      let ret = this.addRondas(this.rounds);
      if (this.callback) {
        this.callback(ret);
      } else {
        this.form.fixture.push(ret[0]);
        this.form.fixture.push(ret[1]);
      }
      this.show_pick = false;
    },
    addRondas(ronda) {
      if (ronda > 0) {
        return [this.addRondas(ronda - 1), this.addRondas(ronda - 1)];
      }
      this.form.participantes.push({
        nombre: "",
      });
      return this.form.participantes.length - 1;
    },
    submit() {
      if (this.loading_form) return;
      this.loading_form = true;
      let data = {
        ...this.form,
        cantidad_participantes: this.cantidad_participantes,
      };
      this.submitTorneo({ data })
        .then((response) => {
          this.$router.push({
            name: "torneo.item",
            params: {
              id: response.id,
            },
          });
        })
        .catch((err) => {
          let status = err.response?.status;
          if (status == 422) {
            let errors = err.response.data?.errors;
            errors = errors ? errors : {};
            for (let key in this.form_errors) {
              this.form_errors[key] = key in errors ? errors[key][0] : null;
            }
          }
          let empties = 0;
          data.participantes.forEach((element) => {
            if (!element.nombre) {
              empties++;
            }
          });
          if (empties > 0) {
            let plural = empties > 1 ? "s" : "";
            this.form_errors.participantes = `Hay ${empties} participante${plural} sin nombre.`;
          }
        })
        .finally(() => {
          this.loading_form = false;
        });
    },
    option_label(cant) {
      let pow = Math.pow(2, cant);
      return `${cant} ronda${cant > 1 ? "s" : ""} (${pow} participantes)`;
    },
  },
};
</script>
<style lang="scss" scoped>
.create-torneo {
  padding: 1.5em 0;
}
.header {
  .back {
    width: min-content;
  }
  .create-title {
    font-size: 28px;
    font-weight: bold;
  }
  .arrow {
    cursor: pointer;
    font-size: 28px;
  }
}
.row.form {
  padding-top: 1em;
}
.formulario {
  label {
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 1em;
  }
  .invalid-feedback {
    display: block;
    color: $primary-color;
  }
  .new-fixture {
    margin: 1em 3px;
    .btn {
      font-weight: bold;
    }
  }
  .acciones {
    text-align: right;
    .btn {
      font-weight: bold;
    }
  }
}
.acciones {
  padding: 1em 0;
  text-align: right;
  .btn {
    font-weight: bold;
  }
  .spinner-border {
    width: 1em;
    height: 1em;
    border-width: 0.15em;
  }
}
.fa-share-alt {
  transform: rotate(180deg);
}
.text-start {
  justify-content: flex-start !important;
}
</style>