<template>
  <loading v-if="loading" />
  <div class="container-fluid table-responsive" v-else>
    <div class="container">
      <div class="row">
        <div class="col-2 back">
          <div class="arrow" @click="$router.push({ name: 'landing' })">
            <i class="fas fa-arrow-left"></i>
          </div>
        </div>
        <div class="col-8">
          <div class="torneo">
            <div class="nombre">
              {{ torneo.nombre }}
            </div>
            <div class="fecha">
              {{ formatDates(torneo.inicio, torneo.fin) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bracket">
      <bracket
        @edit="edit_juego"
        :juego="'final' in torneo ? torneo.final : null"
      />
    </div>
    <modal-gestion
      :juego="juego_edit"
      :show.sync="show_edit"
      @refresh="refreshTorneo"
    />
  </div>
</template>
<script>
import { mapActions } from "vuex";
import modalGestion from "./item/modal-gestion";
export default {
  components: {
    modalGestion,
  },
  watch: {
    torneo() {
      if (this.torneo) {
        this.bluidRondas();
      }
    },
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
  },
  data() {
    return {
      rondas: [],
      torneo: {},
      campeon: "",
      loading: false,
      show_edit: false,
      juego_edit: null,
    };
  },
  created() {
    this.getTorneo(true);
  },
  methods: {
    ...mapActions("torneo", { getItem: "item" }),
    getTorneo() {
      if (this.loading) return;
      this.loading = true;
      this.getItem({ id: this.id })
        .then((response) => {
          this.torneo = response;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    formatDates(since, until) {
      if (!since || !until) return "";
      let setDate = (date) => {
        date = new Date(date + " 00:00:00");
        let to2dig = (a) => (a > 9 ? a : "0" + a);
        let dd = date.getDate();
        let mm = date.getMonth() + 1;
        let yyyy = date.getFullYear();
        return `${to2dig(dd)}/${to2dig(mm)}/${yyyy}`;
      };
      since = setDate(since);
      until = setDate(until);
      if (since != until) {
        return `(${since} al ${until})`;
      }
      return `(${since})`;
    },
    edit_juego(event) {
      this.juego_edit = event;
      this.show_edit = true;
    },
    refreshTorneo(){
      this.show_edit = false;
      this.getTorneo();
    },
    bluidRondas() {
      let ret = [];
      let final = this.torneo.final;
      let rec = (game, lvl) => {
        if (ret.length <= lvl) {
          ret.push([]);
        }
        let ronda = ret[lvl];
        let jugador1 = game.jugador1;
        let jugador2 = game.jugador2;
        if ("ganador" in jugador1) {
          jugador1 = rec(jugador1, lvl + 1);
        }
        if ("ganador" in jugador2) {
          jugador2 = rec(jugador2, lvl + 1);
        }
        ronda.push({
          fecha: game.fecha,
          resultado: game.resultado,
          jugador1: jugador1.nombre,
          jugador2: jugador2.nombre,
        });
        if (game.ganador == "1") {
          return jugador1;
        } else if (game.ganador == "2") {
          return jugador2;
        }
        return { nombre: "" };
      };
      let camp = rec(final, 0);
      let reverse = [];
      ret.forEach((item) => {
        reverse.unshift(item);
      });
      this.rondas = reverse;
      this.campeon = camp.nombre;
    },
  },
};
</script>
<style lang="scss" scoped>
.bracket {
  display: flex;
}
.back {
  display: flex;
  align-items: center;
  .arrow {
    cursor: pointer;
    font-size: 32px;
  }
}
.torneo {
  padding: 0.75em 1em;
  text-align: center;
  .nombre {
    font-size: 32px;
    font-weight: bold;
  }
  .fecha {
    font-size: 16px;
  }
}
</style>